<mat-card>
  <mat-card-title> Alterar Categoria </mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Id"
        [(ngModel)]="category.id"
        name="name"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="category.name"
        name="color"
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="updateCategory()" color="primary">
    Atualizar
  </button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
