<mat-card>
  <mat-card-title> Alterar Dispositivo </mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="device.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Cor"
        [(ngModel)]="device.color"
        name="color"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Número de Série"
        [(ngModel)]="device.partNumber"
        name="partNumber"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select
        #choosedCategory
        (valueChange)="onChangeCategory(choosedCategory)"
        [(value)]="selectedOption"
      >
        <mat-option
          *ngFor="let category of categories"
          name="categoryId"
          [value]="category.id"
        >
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="updateDevice()" color="primary">
    Atualizar
  </button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
