<mat-card>
  <mat-card-title> Novo Dispositivo </mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="device.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Cor"
        [(ngModel)]="device.color"
        name="color"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Número de Série"
        [(ngModel)]="device.partNumber"
        name="partNumber"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Usuário"
        [(ngModel)]="device.userId"
        name="userId"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createDevice()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
